.ConverterContent {
    padding-top: 100px;
    background-color: white;
}

.ConverterFiltersAndCurrenciesWrapper {
    -webkit-box-shadow: 0px 0px 7px 5px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 7px 5px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 7px 3px rgba(34, 60, 80, 0.2);
    border-radius: 6px;
    padding: 15px;
}

.ConverterFilters {
    width: 80%;
    margin: 0 auto;
    padding: 30px;
    height: 520px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ConverterFilters form {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    position: relative;
}

.ConverterFilters form input {
    height: 50px;
    width: 320px;
    border: 1px solid lightgray;
    border-radius: 3px;
    padding-left: 20px;
    font-size: 16px;
}

.ConverterFilters form input:focus {
    outline: none;
    outline-offset: none;
}

.ConverterFilters form button {
    position: absolute;
    left: 38%;
    bottom: 0px;
    width: 217px;
    height: 36.5px;
    border: none;
    cursor: pointer;
    background-color: #4AB82F;
    color: white;
    text-transform: uppercase;
    font-size: 0.875rem;
    border-radius: 4px;
}

.ConverterFilters form img {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.Amount {
    width: 100% !important;
    display: block;
    margin: 0 auto;
    margin-bottom: 45px;
    height: 56px;
    border: 1px solid #c6c6cb;
    border-radius: 6px;
    background-color: #eff0f5;
    font-size: 16px;
    font-weight: 300;
    padding-left: 15px;
    cursor: pointer;
    color: #606062;
    margin-top: 30px;
}

.Amount:focus {
    outline: 2px solid #4AB82F;
}

.Amount:hover {
    outline: 1px solid #4AB82F;
}

.ImageAnimationFirst {
    animation: imageFirst 0.3s linear;
}

@keyframes imageFirst {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(270deg);
    }
}

.ImageAnimationSecond {
    animation: imageSecond 0.3s linear;
}

@keyframes imageSecond {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-270deg);
    }
}

.ConvertButton {
    width: 207px;
    margin: 0 auto;
}

.HintCurrency{
    margin: 20px 0px 20px 0px;
}